* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-color: #1e293b;
}

.card {
    width: max(90%, 300px);
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    border-radius: 20px;
    padding: 40px 20px;
    text-align: center;
}

.card .search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.card .search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 24px;
    width: 80%;
    font-size: 18px;
}

.card .search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    aspect-ratio: 1;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 20px;
    outline: 2px solid white;
}

.card .search button:hover {
    outline-offset: 3px;
    transition: all 0.3s;
    transform: scale(1.15);
}


.card .protein {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card h1 {
    font-size: 80px;
    font-weight: 500;
}

.card h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.card .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 25px;
    gap: 60px;
}

.card .details .col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: left;
    align-items: flex-start;
}

.col span {
    font-weight: bolder;
}

.col p {
   display: flex;
   justify-content: space-between;
   width: 100%;
   gap: 10%;
   line-break: anywhere;
}

.col p span {
    line-break: auto;
 }

.main {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    .main {
        flex-direction: column;
    }

    .card .details {
        flex-direction: column;
    }
  }